{% extends 'index.html' %}

{% block title %}Listar libros{% endblock title %}

{% block body %}

{% if libros %}
<button onclick="mostrar_modal('{% url 'libro:crear' %}')" class="btn btn-success">Crear</button>
<div class="card">
  <div class="card-header">
    <strong class="card-title">Listado de Libros</strong>
  </div>
  <div class="table-stats order-table ov-h">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titúlo</th>
          <th>Fecha de publicación</th>
          <th>Autor</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for libro in libros %}
        <tr>
          <td>{{ libro.id }}</td>
          <td>{{ libro.titulo }}</td>
          <td>{{ libro.fecha_publicacion }}</td>
          <td>
            {% for autor in libro.autor_id.all %}
            <li>{{autor}}</li>
            {% endfor %}
          </td>
          <td>
            <button onclick="mostrar_modal('{% url 'libro:editar' libro.id %}')" class="btn btn-primary">Editar</button>
            <button onclick="mostrar_modal('{% url 'libro:eliminar' libro.id %}')" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<h1>No existen libros registrados</h1>
{% endif %}

<div id="modal" class="modal fade" role="dialog">
  
</div>

{% endblock body %}

{% block script %}
  <script type="text/javascript">
  function mostrar_modal(url) {
    $('#modal').load(url, function () {
      $(this).modal('show');
    });
  }
  </script>
{% endblock script %}
